################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TODOweb/FileContentIndex/fe55b230-a0ee-46d7-b24a-baff2b3829b4.vsidx
