################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TODOweb/FileContentIndex/cdb1ef9b-2481-4789-a620-985f8bc27619.vsidx
