################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TODOweb/FileContentIndex/cdb1ef9b-2481-4789-a620-985f8bc27619.vsidx
/.vs/TODOweb/FileContentIndex/80afaa44-b3a2-4f87-b5c4-970ae9dbdf0a.vsidx
/.vs/TODOweb/FileContentIndex/5b7d8adf-a564-4b2b-a373-50d3c51ed15c.vsidx
/.vs/TODOweb/FileContentIndex/e82bf723-e5f8-4766-a868-6c4d2cb49ec5.vsidx
